### PyCharm
.idea

### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
env/
venv/
ENV/
env.bak/
venv.bak/
strava_env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

chromedriver.exe


# Use following command periodically to add too large files to this list:
# find . -size +100M | cat >> .gitignore
# To remove old large files:
# java -jar bfg.jar --strip-blobs-bigger-than 100M
#  git reflog expire --expire=now --all && git gc --prune=now --aggressive
*.parquet
Addresses_in_the_City_of_Los_Angeles.csv
*.shp./.git/objects/pack/pack-c34e3b5c74094bf1d26049b429bae7cdf1822338.pack
./.git/objects/pack/pack-f06b068772be88dcc40304e144af0a9a9dcee1a2.pack
./Project/analysis/Baseline/data/data_filtered.parquet
./Project/analysis/reference_data/activities/Project_strava_final_generated_data_ZH_5km_full_leaderboard_overall.parquet
./Project/strava/final_generated_data/ZH_5km_full_leaderboard_overall.parquet
./Project/strava/reference_data/shape_files/roads.shp
./Project/visualization/test/reference_data/Addresses_in_the_City_of_Los_Angeles.csv
