# General Requirements
pytest
pylint
coverage
pytest-cov
setuptools
numpy

# Packages actively used in project files
swifter
tqdm
urllib3
Pydap
pandas
pyshp

PyYAML

# web requirements
requests
selenium

# Added for testing weather score
matplotlib

# added for baseline calculation
pyarrow

# Added for UI
art